*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  background-color: #f9f7f7;
}

h2,
h3,
h4 {
  text-transform: capitalize;
}

.container {
  padding: 1rem;
  background-color: #dbe2ef;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
}

form {
  padding: 1rem 0;
}

form > * {
  font-size: inherit;
  padding: 0.25em 0.75em;
  border: none;
}

.text {
  width: 60%;
  border-radius: 5px 0 0 5px;
  text-indent: 2px;
}

.no-text {
  outline: 2px solid red;
}

.add-btn {
  width: 20%;
  border-radius: 0 5px 5px 0;
  background-color: #f38181;
  transition: all 0.75s ease-in-out;
  color: #fff;
}

.add-btn:hover {
  background-color: #112d4e;
}

.clear-btn {
  background: none;
  border: none;
  font-size: inherit;
  color: red;
}

.clear-btn:hover {
  text-decoration: underline;
}

.clear-btn:active {
  color: #6b6b6b;
}

.list-container {
  width: 80%;
  margin: auto;
}

.list {
  text-align: left;
  margin: 0.5rem 0 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f7f7;
  text-transform: capitalize;
  padding: 0.25rem;
  border-radius: 5px;
  text-indent: 10px;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn-container > * {
  background-color: transparent;
  border: none;
  width: 20px;
}

.trash,
.undo {
  color: red;
}

.tick {
  color: green;
}

.done {
  text-decoration: line-through;
}

.btn-container button:hover {
  background-color: #eee;
}

.btn-container button:active {
  opacity: 0.5;
}
